

.explorer {padding: 20;}

a:link {text-decoration:none; color:inherit;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:none;}

a.download {color:blue}

h1 {
  color:black;
  text-align:left;
}
table.popup {
	border: 1px solid black;
	background: lightblue;
}

table.popup td{
	border: 1px solid black;
}

table.debug {
	padding-top: 10;
	border: 5px solid crimson;
}

div.debug {
	border: 2px solid black;
	display:inline-block;
	padding: 10;
	margin-bottom: 5;
	background: crimson;
}

table.freeze {
	border:10px solid lightblue;
}

div.freeze {
	background:lightblue;
	border: 1px solid darkblue;
	color:blue;
	display:inline-block;
	padding: 10;
	margin-bottom: 2;
	margin-top: 7;
}

table tr td+td+td+td {
  font-size: large;
  font-family: monospace;
  width: 8em;
  white-space:nowrap;
}

table tr th {
  text-align:center;
}

table tr td+td+td {
  text-align:center;
}

th {background: #DBD7D5; padding-right: 10; padding-left: 10;}

.header { position: fixed;}

td {padding-left: 20; padding-bottom: 0} 

body { margin: 0; font-family: Calibri; background-color:#DBD7D5;}

.wait_odd {background: #FFFF66}

.wait_even {background: #FFFF00}

.skip_odd {background: #FF7519}

.skip_even {background: #FFBD59}

.recv_odd {background: #9BFAB7}

.recv_even {background: #33CC33}

.laterecv_odd {background: #9BFAB7}

.laterecv_even {background: #33CC33}

.late_odd {background: #FF5050}

.late_even {background: #FF0000}

.error_odd {background: #FF7519}

.error_even {background: #FFBD59}

.empty_odd {background: #9BFAB7}

.empty_even {background: #33CC33}

.special_odd {background: #80B1D2}

.special_even {background: #0063A6}

tr.skipborder1 td:first-child { border-left: 5px solid #008000;  }
tr.skipborder1 td:last-child { border-right: 5px solid #008000;  }
tr.skipborder2 td {
	border-top: 5px solid #008000;
	border-bottom: 5px solid #008000;
}
tr.skipborder3 td {
	border-bottom: 5px solid #008000; 
}


tr.emptyborder1 td:first-child { border-left: 5px solid #0063A6;  }
tr.emptyborder1 td:last-child { border-right: 5px solid #0063A6;  }
tr.emptyborder2 td {
	border-top: 5px solid #0063A6;
	border-bottom: 5px solid #0063A6;
}
tr.emptyborder3 td {
	border-bottom: 5px solid #006EB8; 
}

tr.lateborder1 td:first-child { border-left: 4px solid #FF0000; }
tr.lateborder1 td:last-child { border-right: 4px solid #FF0000; }
tr.lateborder2 td {
	border-top: 4px solid #FF0000;
	border-bottom: 4px solid #FF0000;
}
tr.lateborder3 td {
	border-bottom: 4px solid #FF0000;
}

input.headerunsort {
border:0;
padding:0;
color: inherit;
background:transparent;
}

input.headersort {
border:0;
padding:0;
color: inherit;
background:transparent;
font-weight:bold;
}


tr.lateborder1 td:first-child { border-left: 4px solid #FF0000; }
tr.lateborder1 td:last-child { border-right: 4px solid #FF0000; }

tr.lateborder2 td {
	border-top: 4px solid #FF0000;
	border-bottom: 4px solid #FF0000;
}

tr.lateborder3 td {
	border-bottom: 4px solid #FF0000;
}

.laterecvex {
	border: 3px solid #FF0000;
	background: #33CC33
}

.legend {
	position:absolute;
	margin-left:70%;
	background: #E6E2E1;
	border: 1px solid black;
	font-size: x-small;
}

.right_score {
	border-left: 1px dashed black;
}

.bottom_score {
	border-top: 1px dashed black;
}

.score {
	position:absolute;
	margin-left:16%;
	background: #E6E2E1;
	border: 1px solid black;
	font-size: x-small;
}

#top, #bottom, #left, #right {
	background: lightblue;
	position: fixed;
}

#left, #right {
	top: 0; bottom: 0;
	width: 3px;
}
#left { left: 0; }
#right { right: 0; }
		
#top, #bottom {
	left: 0; right: 0;
	height: 3px;
}
#top { top: 0; }
#bottom { bottom: 0; }